<%= form_for(@pass) do |form| %>

  <div>
  <%= form.label :title, "Title:" %>
  <%= form.text_field :title %>
  </div>

  <div>
  <%= form.label :description, "Description:" %>
  <%= form.text_field :description %>
  </div>

  <div>
  <%= form.label :live_stream, "Is This A Live Stream?:" %>
  <%= form.check_box :live_stream %>
  </div>

	<div>
  <%= form.label :availability_date, "YYYY/MM/DD hh:mm:ss" %>
  <%= form.text_field :availability_date %>
  </div>

	<div>
  <%= form.label :embed_code, "Content link" %>
  <%= form.text_field :embed_code %>
  </div>
  <%= form.submit %>

<% end %>
