<%= stylesheet_link_tag "passes", :media => "all" %>

<h1>StreamPass Index</h1>

<p>Sort By: Latest | Popular</p>

<% @passes.each do |pass| %>

<div class="passcontainer">
	
	<div class="passcontent">
	
    <h4><%= pass.title %></h4>
  	<p><%= pass.description %></p>
  	<p><a href="/vendors/<%= pass.vendor.id %>"><%= pass.vendor.email %></p>

	</div>
	
	<div class="buypass">
		<a href="/passes/<%= pass.id %>"><p>Buy This Pass!</p></a>
	</div>

</div>

<% end %>

<p>View Next 10...</p>