<h1>Individual Pass Page</h1>

<div class="pass">
  <%= @pass.title %>
	<%= @pass.description %>
	
	<%= video_embed_tag(@pass.embed_code).html_safe %>
	<a href="<%= @pass.embed_code %>"><%= @pass.embed_code %></a>
</div>

