<h1><%= @vendor.name %></h1>
<%= flash[:notice] %>
<% if session[:login_id].present? %>
<p><%= link_to 'Edit', vendor_edit_path(@vendor) %> |
<%= link_to 'Sign Out', logout_path(@vendor) %></p>
<% else %>
<% end %>

<div>
<b>Name:</b> <%= @vendor.name %>

</div>
<div>
<p><b>Description:</b> <%= @vendor.description %></p>
<p><b>Category:</b> <%= @vendor.category.name %></p>
</div>

<div>
<b><%= link_to 'Add A StreamPass!', new_pass_url %></b><br /><br />
<b>Passes:</b>
<table style="width:60%">

  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Vendor</th>
  </tr>

<% @vendor.passes.each do |pass| %>
  <tr>
    <td><a href="/passes/<%= pass.id %>"><%= pass.title %>: </a></td>
  <td><%= pass.description %></td>
  <td><%= pass.vendor.email %></td>
  </tr>
<% end %>
</table>

<% if session[:login_id].present? %>
<% else %>
<% end %>

