<%= stylesheet_link_tag "vendor", :media => "all" %>

<%= flash[:notice] %>
<% if session[:login_id].present? %>
<p><%= link_to 'Edit', vendor_edit_path(@vendor) %> |
<%= link_to 'Sign Out', logout_path(@vendor) %></p>
<% else %>
<% end %>

<div class="lefthalf"

<img src="http://placehold.it/140&text=vendor+logo+image+here">
	
<b>Name:</b> <%= @vendor.name %>
<p><%= @vendor.category.name %></p>

<p><%= @vendor.description %></p>
<p><b>Category:</b> <%= @vendor.category.name %></p>

</div>

<div class="righthalf">
	<% if session[:login_id].present? %>
		<b><%= link_to 'Add A StreamPass!', new_pass_url %></b>
	<% else %>
	<% end %>

<b>Passes:</b>

<% @vendor.passes.each do |pass| %>

<div class="passcontainer">
	
	<div class="passcontent">
	
    <h4><%= pass.title %></h4>
  	<p><%= pass.description %></p>

	</div>
	
	<div class="buypass">
		<a href="/passes/<%= pass.id %>"><p>Buy This Pass!</p></a>
	</div>

</div>

<% end %>

</div>




