<!DOCTYPE html>
<html>
<head>
  <title>SPapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Chau+Philomene+One' rel='stylesheet' type='text/css'>
   <%= csrf_meta_tags %>
</head>
<body>

<header>
	<h1><a href="/">Stream<span>Pass</span></a></h1>
	
	<div>
	  <ul>
	    <li><a href="/vendors">Browse By Vendor...</a></li>
	    <li><%= link_to 'Popular Passes', '/passes' %></li>
    </ul>
    
    <% if session[:login_id].present? %>
      <p class="useracct">
      <%#= link_to '#{@vendor.name}', vendor_url(@vendor) %>
      User Logged In. Show Dropdown Here.
      </p>
    <% else %>
    <div class="login">
      <ul>
      <%= form_tag sessions_url do || %>
      <li>
        <%= submit_tag "Sign In!" %>
      </li>
      
      <li>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </li>
      
      <li>
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </li>
      </ul>
    </div>

      <% end %>
    
    <% end %>
	
	</header>
	
	<div class="container">

<%= yield %>

</body>
</html>
