<!DOCTYPE html>
<html>
<head>
  <title>SPapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Chau+Philomene+One' rel='stylesheet' type='text/css'>
   <%= csrf_meta_tags %>
</head>
<body>

<header>
	
	<div class="headercontent">
	
	<h1><a href="/">StreamPass</a></h1>
	
	<div class="navpanel">
	  <ul>
	    <li><a href="/vendors">Vendors</a></li>
			<li>|</li>
	    <li><%= link_to 'Passes', '/passes' %></li>
    </ul>
 	</div>

    <% if session[:login_id].present? %>
	<div class="userpanel">
      <ul>
	<li><%= link_to 'Sign Out', logout_path(@vendor) %></li>
	 <li><%= link_to "#{Vendor.find(session[:login_id]).email}", vendor_url(Vendor.find(session[:login_id])) %></li>
			</ul>
	</div>
	</div>
    <% else %>
    <div class="login">
      <ul>
      <%= form_tag sessions_url do || %>
      <li>
        <%= submit_tag "Sign In!" %>
      </li>
      
      <li>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </li>
      
      <li>
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </li>
      </ul>
    </div>
		</div>

      <% end %>
    
    <% end %>
	
	</header>
	
	<div class="container">

<%= yield %>

</body>
</html>
